body {
  font-family: 'Arial';
  background: #42ab9e;
  margin: 0; }

.main {
  margin: 0; }
  .main .results {
    margin-top: 50px; }

.welcome {
  font-family: 'Arial';
  font-size: 50px;
  position: relative;
  margin: 0 0 20px 0;
  padding-top: 40px;
  text-align: center;
  color: #fff; }

header {
  background: #fff;
  margin: 0;
  padding: 15px 30px;
  -webkit-box-shadow: 2px 20px 83px -18px #383838;
    -webkit-box-shadow-box-shadow: 2px 20px 83px -18px #383838; }
  header ul {
    list-style: none;
    padding: 0; }
    header ul li {
      display: inline-block; }
    header ul .title {
      font-family: 'Arial';
      font-size: 25px;
      font-weight: 700;
      color: #42ab9e;
      display: inline-block;
      margin: 0 10px; }
    header ul .nav-item {
      float: right;
      position: absolute;
      right: 210px;
      top: 35px; }
      header ul .nav-item a {
        letter-spacing: 1px;
        color: #42ab9e;
        text-decoration: none; }

.data {
  margin: 0 auto; }
  .data div {
    margin-top: 60px; }

.save button {
  background: #42ab9e;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
  margin: 10px 0;
  transition: .6s;
  letter-spacing: 1px; }
  .save button svg {
    margin-right: 10px; }
  .save button:hover {
    background: #000; }

.entry_btn {
  position: absolute;
  top: 17px;
  right: 25px;
  margin: 0;
  padding: 15px 20px;
  -webkit-transition: 0.9s;
    -webkit-transition--moz-transition: 0.9s;
      -webkit-transition--moz-transition--ms-transition: 0.9s;
        -webkit-transition--moz-transition--ms-transition--o-transition: .9s;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  color: #42ab9e;
  border-radius: 5px;
  font-size: 15px;
  border: 2px solid #42ab9e;
  background: transparent;
  cursor: pointer;
  -webkit-box-shadow: 2px 20px 83px -18px rgba(56, 56, 56, 0.41);
    -webkit-box-shadow-box-shadow: 2px 20px 83px -18px rgba(56, 56, 56, 0.41); }
  .entry_btn:hover {
    -webkit-transition: .5s;
    -moz-transition: 0.5s;
      -moz-transition--ms-transition: .5s;
      -moz-transition--o-transition: .5s;
    opacity: 1;
    color: #fff;
    border: 2px solid #42ab9e;
    background: #42ab9e; }

.data div ul {
  margin: 50px 0; }

.showData {
  margin: 40px 20px;
  display: inline-block;
  width: 30%;
  background: #fff;
  -webkit-box-shadow: 2px 20px 83px -18px #383838;
    -webkit-box-shadow-box-shadow: 2px 20px 83px -18px #383838; }
  .showData ul {
    padding: 0 40px; }
    .showData ul li {
      margin: 10px 20px;
      list-style: none; }
  .showData .data-header {
    margin: 0 0 20px 0;
    padding: 20px 60px;
    background: #eee;
    border-radius: 5px;
    border-bottom: 5px solid rgba(0, 0, 0, 0.05); }
    .showData .data-header h2 {
      color: #000;
      margin: 0; }
    .showData .data-header h6 {
      margin: 5px 0 0 0;
      font-size: 15px;
      color: #888;
      font-weight: 100; }

.required_info {
  color: #fff;
  text-align: center;
  position: relative;
  top: 100px;
  font-size: 30px;
  opacity: .6;
  letter-spacing: 2px;
  text-transform: uppercase; }

@media screen and (max-width: 1249px) {
  .showData {
    width: 45%; } }

@media screen and (max-width: 833px) {
  .showData {
    width: 90%; } }

@media screen and (max-width: 515px) {
  header ul .title {
    font-size: 15px; }
  header ul .nav-item {
    display: none; }
  .entry_btn {
    font-size: 10px; } }
