body {
  font-family: 'Arial';
  background: #42ab9e;
  margin: 0; }

.main {
  margin: 0; }

.required_info {
  color: #fff;
  text-align: center;
  position: relative;
  top: 100px;
  font-size: 30px;
  opacity: .6;
  letter-spacing: 2px;
  text-transform: uppercase; }
